#main{
    display: none;
}

.full-height{
    max-height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #FFFF00;
}

.line-input {
    padding: 1px;
    border-width: 0px 0px 1px 0px;
    border-color: #FFAA00;
    border-style: dashed;
    background-color: #EEEEFF;
}

.changing{
    background-color: #FFCC99;
}

#sendbox textarea{
    resize: none;
}

.history-container{
    height: 20em;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000000;
    margin-top: 1em;
    padding: 0.5em;
}

.history-roller {
    color: #FFFFFF;
    font-family: monospace;
}

.history-roller .time{
    color: #00CC00;
}

.history-roller .author-local{
    color: #FF9999;
}

.history-roller .author-remote{
    color: #9999FF;
}

.history-roller .text{
    color: #FFFFFF;
}

#sendbox{
    display: none;
}
